@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Titan+One&display=swap');

:root {
    --primary-color: #D2161C;
    --secondary-color: #3A3838;
    --tertiary-color: #9A9A9A;
    --quaternary-color: #393737;

    --primary-section-color: #514B4A;
    --secondary-section-color: #464041;
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--secondary-color);
  }
   
  ::-webkit-scrollbar-thumb {
    background: var(--tertiary-color); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color); 
  }

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Titan One', cursive;
    font-size: 69px;
    color: var(--secondary-color);
    text-align: center;
    padding-top: 15px;
}

h2 {
    font-family: 'Titan One', cursive;
    font-size: 64px;
    color: var(--primary-color);
    text-align: center;
    padding: 25px 0 80px 0;
}

p {
    font-family: 'Titan One', cursive;
    font-size: 22px;
    color: var(--tertiary-color);
}

a {
    font-family: 'Titan One', cursive;
    font-size: 48px;
    color: var(--tertiary-color);
    text-decoration: none;
}

.bigText {
    font-size: 48px;
}

span {
    color: var(--primary-color);
}

.navbar {
    background: var(--quaternary-color);
    border-bottom: 1px solid var(--quaternary-color);
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar li {
    list-style: none;
    display: inline-block;
    margin-right: -4px;
}

.navbar li:hover {
    background: var(--secondary-section-color);
}

.navbar a {
    display: block;
    width: 8em;
}

.header {
    width: 100%;
    height: 980px;
    background-image: url("assets/bop191.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.header p {
    padding: 750px 100px 0 100px;
}

.hobbies {
    background: var(--primary-section-color);
    height: 600px;
}

.hobbies img {
    float: left;
    margin-left: 75px;
}

.hobbies ul {
    float: left;
    margin-left: 100px;
}

.hobbies li {
    list-style: disc;
    color: var(--tertiary-color);
    font-family: 'Titan One', cursive;
    font-size: 40px;
}

.memes {
    background: var(--secondary-section-color);
    height: auto;
    clear: both;
}

.memes .centered {
    display: block;
    margin: 0 auto 0 auto;
    padding-bottom: 40px;
    width: 80%;
}

.memes img {
    margin: 10px 10px 10px 10px;
}

.footer {
    background: var(--secondary-color);
    height: auto;
}

.footer ul {
    text-align: center;
    padding-bottom: 50px;
}

.footer li {
    text-align: center;
    list-style: none;
    display: inline-block;
    margin: 0 75px 0 75px;
}